* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none !important;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}

.title {
  padding: 25px;
}

.modal {
  width: 30vw;
  max-height: 30vh;
  box-shadow: 5px 10px 8px #888888;
  position: absolute;
  top: 10vh;
  background-color: var(--white);
  left: 35vw;
  border: 1px solid var(--main-button-border-color);
  border-radius: 10px;
}

.modal .inputs-wrapper {
  display: flex;
  justify-content: end;
  margin: 10px;
}

.modal button {
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  padding: 0px 10px;
  margin: 0px 5px;
}

.modal .body-wrapper {
  margin: 25px;
}
